<h2><%= @movie.name %></h2>
<h2>Directed by: <%= @movie.director.name%></h2>
<h3>Cast:</h3>
<ul>
  <% @movie.actors.order(:name).each do |actor| %>
    <li> <%= link_to actor.name, actor %> </li>
  <% end %>
</ul>

<p><%= link_to 'Home', root_path %></p>